* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f5ff5;
  font-family: "Montserrat", sans-serif;
}

header {
  background: #1c1c1c;
}

.navMenu {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: rgba(28, 28, 28, 0.8);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  padding: 3px 10px;
}

.navMenu a:hover {
  color: #0047b3;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 100px;
}
button.languageBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.languageBtn:hover {
  background-color: #1c1c1c;
}

button.languageBtn:active {
  background-color: #cccccc;
}

.languageContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.imgprofile {
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  max-width: 100%;
  height: 100%;
  background: url('img/profilebeach.jpg') center;
  background-size: cover;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-me {
  flex: 1 1 60%;
  max-width: 800px;
  padding: 20px;
  color: #333;
  text-align: justify;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-me h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me p {
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  flex-wrap: wrap;
}

.social a,
.social span {
  display: flex;
  align-items: center;
  margin: 0 10px;
  margin-top: -3px; /* Ajuste o valor conforme necessário */
  color: #333;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.social a:hover,
.social span:hover {
  color: #0047b3;
  transform: translateY(-3px);
}

footer {
  background-color: #333;
  padding: 20px;
  position: fixed;
 bottom: 0;
  left: 0;
  width: 100%;
  color: #f6f4e6;
}

.tech-icons {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  gap: 15px;
}

.tech-icons i {
  color: #6c757d;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

/* .tech-icons i:hover {
  color: #0047b3;
} */

.tech-icons .fab.fa-js-square {
  color: #f0db4f;
}

.tech-icons .fab.fa-node {
  color: #68a063;
}

.tech-icons .fab.fa-react {
  color: #61dbfb;
}

.tech-icons .fab.fa-html5 {
 color: #e34c26;
}

.tech-icons .fab.fa-css3-alt {
  color: #264de4;
}
.tech-icons  .fa-reacteurope {
  color: #61dbfb;
}

.tech-icons  .fa-docker {
  color: #2496ed;
}

.tech-icons  .fa-database {
  color: #FF8C00;
}


@media only screen and (max-width: 768px) {
 .container {
    padding-top: 100px;
    padding-bottom: 80px;
    transition: padding 0.2s ease-in-out;
  }

  .imgprofile {
    position: static;
    width: 100%;
    height: auto;
    filter: none;
  }

  .about-me {
    margin: 20px 0;
    max-width: 100%;
  }

  .social {
    width: 100%;
    justify-content: center;
 margin-top: 20px;
  }

  .social a,
  .social span {
    margin: 5px;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .technologies {
    flex: 1 1 60%;
    max-width: 800px;
    padding: 20px;
    color: #333;
    text-align: justify;
    line-height: 1.5;
  }

  .technologies h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .technologies .tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .technologies .tech-icons i {
    
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
  }

  .technologies .tech-icons i:hover {
    color: #0047b3;
  }
  
}
